@font-face {
    font-family: 'aleksandracregular';
    src: url('../fonts/aleksandrac_regular.eot');
    src: url('../fonts/aleksandrac_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleksandrac_regular.woff') format('woff'),
         url('../fonts/aleksandrac_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}